<div class="sign_in_container">
  <h2> Who are you? </h2>
  <div class="input_container">
    <%=form_tag :action => :sign_in do %>
      <div class="form-field">
	  	<label for="username">Username</label>
	  	<input type="text" id="username" name="username" placeholder="yourname"/>
	  </div>
	
	  <div class="form-field">
	  	<label for="email">E-mail (optional)</label>
	  	<input type="text" id="email" name="email" placeholder="you@windycityrails.com"/>
	  </div>
	
	  <div class="buttons">
		  <input type="submit" value="Go" />
	  </div>
    <% end %>
  </div>
</div>
